@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about {
    @include flex-center(column);
    @include page-padding;
}

.education {
    @include flex-center(column);
    gap: 1rem;
    &__title {}
    &__card {
        @include glass-card;
    }
    &__card-top {
        @include flex-center(row, flex-start, flex-start);
        gap: 1rem;
    }
    &__logo {
        background-color: Black;
        padding: 0.5rem;
    }
    &__information {}
    &__degree {}
    &__institute {}
    &__date {
        background-color: Black;
        padding: 0.5rem;
        width: hug;
        display: inline-block;
    }
    &__description {}
}