@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.projectcard {
    position: relative;
    // &__title {}
    &__picture {
        position: relative;
        background-color: white;
        background-position: top;
        background-size: cover;
        width: 100%;
        aspect-ratio: 3;
        border-radius: 25px;
        z-index: 0;

        &:hover .projectcard__description {
            display: block;
            background-color: rgba(34, 34, 34, 0.548);
            backdrop-filter: blur(4px);
        }
    }

    &__taglist {
        @include flex-center(row, flex-start);
        gap: 1rem;
    }
    // &__tag {}
    // &__text {}

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 25px;
        display: none;

        &-text {
            color: $primary-text;
        }
    }
}