@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
    @include flex-center(column);
    gap: 1rem;
    text-align: center;
    // height: 100vh;

    @include tablet {
        gap: 2rem;
    }

    &__picture {
        aspect-ratio: 1;
        background-image: url("/images/Selfie.JPG");
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        width: clamp(8rem, 40vw, 14rem);
    }

    // &__title {}
    // &__subtitle {}
    &__summary {
        max-width: 48rem;
        margin: 0 auto;
    }
    &__availability {
        @include glass-card;
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
    }

    &__actions {
        width: 100%
    }

    &__buttons {
        @include flex-center(column);
        width: 100%;
        gap: 1rem;

        @include tablet {
            @include flex-center(row)
        }
    }

    &__button {
        @include flex-center(row, flex-start);
        width: 100%;
        background-color: black;
        padding: 0.5rem;
        border: 1px solid white;
        color: white;

        @include tablet {
            @include flex-center(row);
            width: auto;
        }
    }

    &__link {
        width: 100%;

        @include tablet {
            width: auto;
        }
    }

    &__icons {        
        @include flex-center(row);
        padding: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__socials {
        all: unset;
        @include flex-center(row);
        width: 100%;
        gap: 0.5rem;
    }
}
