$tablet-breakpoint: 48rem; // 768px;
$desktop-breakpoint: 64rem; // 1280px;

$primary-background: linear-gradient(35deg,rgba(16, 0, 70, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(73, 0, 1, 1) 100%);
$button-background: #000000;
$primary-text: #FFFFFF;
$secondary-text: #000000;