@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.content {
    @include glass-card;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}