@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contact {
    @include flex-center(column, flex-start, flex-start);
    @include page-padding;
    gap: 1.5rem;

    &__subtitle {
        max-width: 48rem;
    }

    &__email {
        max-width: 48rem;
    }

    &__email a {
        text-decoration: underline;
    }

    &__form {
        width: 100%;
        max-width: 40rem;
        @include flex-center(column, flex-start, stretch);
        gap: 1rem;
    }

    &__field {
        @include flex-center(column, flex-start, flex-start);
        gap: 0.5rem;
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 0.75rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.4);
        color: $primary-text;
    }

    &__textarea {
        resize: vertical;
    }

    &__button {
        align-self: flex-start;
        background-color: black;
        color: $primary-text;
        border: 1px solid white;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
    }
}
