@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.featuredprojects {
    @include flex-center(column);
    text-align: center;
    
    @include tablet {
        gap: 2rem;
    }

    &__card-container {
        @include tablet {
            @include flex-center(row);
            gap: 1rem;
        }
    }

    &__card {
        @include flex-center(column, flex-start, flex-start);
        @include glass-card;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    &__image {
        aspect-ratio: 2;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    &__taglist {
        @include flex-center(row, flex-start);
        gap: 1rem;
    }

    &__tag {
        background-color: black;
        padding: 0.5rem;
    }
}
