@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.invitation {
    @include flex-center(column);
    @include glass-card;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
    @include tablet {
        gap: 2rem;
    }

    &__button {
        @include flex-center;
        color: white;
        background-color: black;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid white;

        @include tablet {
            width: 30%;
        }
    }
}
