@use "./styles/variables" as *;
@use "./styles/mixins" as *;

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
    flex-direction: row;
    padding: 2rem;
    background: $primary-background;
    color: $primary-text;

    @include tablet {
      padding: 2rem 4rem;
    }

    @include desktop {
      padding: 2rem 8rem;
    }
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  margin:  0 0 0.5em 0;
  line-height: 1.2rem;

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  margin:  0 0 0.5em 0;
  line-height: 1.3rem;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.4rem;
  margin:  0 0 0.5em 0;

  @include tablet {
    font-size: 1.5rem;
  }

  @include desktop {
    font-size: 1.75rem;
  }
}

p {
  margin:  0 0 1em 0;
  font-size: 1rem;
  line-height: 1.7rem;

  @include tablet {
    font-size: 1.0625rem;
  }

  @include desktop {
    font-size: 1.125rem;
  }
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    all: unset;
}

a {
  all: unset;
}